<div ng-controller="modalCtrl"> 
   <div class="container" ng-controller="beerController" >
      <div ng-hide="modalView">
         <p>Add Beer</p>
         <form>
          Beer name:  <input type="text" name="name" ng-model="name" required><br>
          IBU: <input type="number" name="IBU" ng-model="IBU" required><br><br>
          <button type="button" ng-click="saveBeer(name,IBU)" class="btn btn-primary">Save changes</button><br><br>
          <button type="reset" ng-click="cancel()" class="btn btn-danger">Cancel</button>
         </form>
      </div>
   </div>
</div>
